:root {
  --base-font-size: 14px;
  --theme-color   : #F06449;
  --theme-color-light   : #FFFFF4;
  --theme-color-secondary: #8E98A7;
  --theme-color-tertiary: #1C2033;

  --text-color-base: #2E2E46;
  --heading-font-family: 'Bungee Outline', sans-serif;
  --cover-color: #FFFFF4;

  background-color: var(--theme-color-light);
}

body {
    font-size: 100%;
    line-height: 1.5;
    color: var(--text-color-base);
  }


section.cover h1 {
    font-family: var(--heading-font-family);
    color: var(--theme-color);
    font-size: 4rem;
    font-weight:900;
    margin: .625rem 0 2.5rem;
    position: relative;
    text-align: center;
    letter-spacing: 0.3rem;
}

#business-analysis-toolkit .anchor span{
    color: var(--theme-color)
}

section.cover p{
    color: var(--cover-color)
}

section.cover .cover-main>p:last-child a:first-child {
    background-color: var(--theme-color-tertiary);
    border: 1px solid var(--theme-color);
    border-radius: 0;
    color: var(--theme-color);
    transition: background-color .5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

section.cover .cover-main>p:last-child a:first-child:hover{
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    color: var(--theme-color-tertiary);
}

section.cover .cover-main>p:last-child a:last-child {
    background-color: var(--theme-color-tertiary);
    border: 1px solid var(--theme-color);
    border-radius: 0;
    color: var(--theme-color);
    transition: background-color .5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

section.cover .cover-main>p:last-child a:last-child:hover {
    background-color: var(--theme-color);
    color: var(--theme-color-tertiary);
}

.cover-main .buttons {
  width: 100%;
}

.cover-main .buttons a {
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding: 20px 45px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 18px;
  color: #221f1f;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 1.5rem 1rem;
  color: var(--theme-color);
  background-color: var(--theme-color-tertiary);
  overflow: hidden;
  transition: color 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  vertical-align: baseline;
  text-transform: uppercase;
}

.cover-main .buttons a:before,
.cover-main .buttons a:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid var(--theme-color);
  box-sizing: border-box;
}

.cover-main .buttons a:after {
  background: var(--theme-color);
  transform: translateX(-101%);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cover-main .buttons a:hover {
  color: var(--theme-color-light);
}

.cover-main .buttons a:hover:after {
  transform: translateX(0);
}

.cover-main .buttons a span {
  position: relative;
  z-index: 1;
}

aside.sidebar {
    border: none;
    background-color: var(--theme-color-tertiary);
    color: #fff;
}

.sidebar-logo {
    display: block;
    height: 3rem;
    vertical-align: bottom;
    line-height: 1.6;
    margin: 0 auto;
}

div.search {
    border-bottom: 2px solid #787881;
    background-color: var(--theme-color-tertiary);
    padding: 0;
}

.sidebar .search input {
    background: none;
    background-color: rgba(255,255,255,0);
    padding: 1rem;
    transition: background-color 0.3s ease;
}

.sidebar .search input:focus {
    background-color: rgba(255,255,255,1);
}

.sidebar .search input::placeholder {
    color: #aeaeae;
}

.search p.empty {
    margin: 0;
    padding: 1rem;
    background-color: #9a9aa0;
}

body .sidebar-toggle {
    background: none;
    bottom: 0;
    left: 0;
    cursor: pointer;
    padding: 1rem;
}

.sidebar ul li a {
    color: rgba(255,255,255,0.8);
    color: var(--theme-color-light);
    font-size: 15px;
    list-style: none;
  }

  .app-sub-sidebar li:before {
    content: " ";
    padding-right: 4px;
    float: left;
}

  .content {
    background-color: var(--theme-color-light);
  }

  article p img {
    margin: auto;
    display: block;
  }

  .markdown-section h1{
    font-size: 3rem;
  }

  .markdown-section h2{
    font-size: 2.25rem;
  }

  .markdown-section h3{
    border-bottom: 1px solid var(--theme-color-secondary);
  }


@media screen and (max-width: 768px) {
    /* section.cover {
      height: auto;
    } */
    section.cover .cover-main {
      margin: 0 5vw;
    }
    .cover-main img {
      max-width: 100px;
      max-height: 100px;
    }

    section.cover h1 {
      font-size: 2rem;
  }
  
    body .sidebar-toggle { background-color: #fff; }
    body.close .sidebar-toggle {
      background-color: transparent;
      padding: 1rem;
    }
  
    .sidebar-toggle:hover span:nth-child(1) { transform:rotate(0); width:1.5rem; top:0.65rem; }
    .sidebar-toggle:hover span:nth-child(2) { opacity: 1; transform:rotate(90deg); transform-origin: center; }
    .sidebar-toggle:hover span:nth-child(3) { transform:rotate(0); width:1.5rem; top:0.65rem; }
  
    .close .sidebar-toggle:hover span:nth-child(1) { transform: rotate(45deg); width: 1.75rem; }
    .close .sidebar-toggle:hover span:nth-child(2) { opacity: 0; }
    .close .sidebar-toggle:hover span:nth-child(3) { transform: rotate(-45deg); width: 1.75rem; }
  }
  
  @media screen and (min-width: 769px) {
    .markdown-section {
      max-width: 75rem;
      padding: 1rem 3rem;
    }
  }
  
  @media (min-width: 1200px) {
    body {
      font-size: 112.5%;
    }
  }
  
  @media (min-width: 1400px) {
    body {
      font-size: 125%;
    }
  }